<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!-- the following passes the @users array to a partial named according to the class within the array (User)
  thus, the render call looks for a partial named _user.html.erb -->
  <%= render @users %>
</ul>

<%= will_paginate %>